
body {
    background-color: rgb(35, 35, 123);    
    font-family: 'Roboto Mono', monospace;
}
a {
    color: burlywood;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
h1,h5{
    text-align: center;
}
.Centered {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ALast{
    word-spacing: 10px;
}

a:link {
    background-color: green;
}

a:visited{
    background-color: green;
}

a:hover{
    background-color: yellow;
}

a:active{background-color: red;
}
