
h1,h2{
       color:blue;
      }

 button{
        background-color:cyan;
       font-size: 1.5em;
 }

 #studentPlaceHolder{
        font-size: 1.5em;
        font-weight:bold;
        color: blue;
 }        